<div class="page-header">
    <h1>进行投票</h1>
</div>
<p>
    <a ui-sref="polls" class="btn btn-default" role="button">
        <span class="glyphicon glyphicon-arrow-left"></span>
        返回列表
    </a>
</p>
<div class="well well-lg">
    <strong>问题：</strong>{{poll.question}}
    <hr/>
    <div ng-hide="poll.userVoted">
        <form role="form" ng-submit="vote()">
            <div ng-repeat="choice in poll.choices" class="radio">
                <label>
                    <input type="radio" name="choice" ng-model="poll.userVote"
                           value="{{choice._id}}">
                    {{choice.text}}
                </label>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <button class="btn btn-primary btn-sm pull-left" type="submit">投票</button>
                </div>
            </div>
            <hr>
            <div class="alert alert-warning" role="alert">投票之后才能看投票结果！</div>
        </form>
    </div>
    <div ng-show="poll.userVoted">
        <div ng-repeat="choice in poll.choices">
            <strong>{{choice.text}}：</strong>
            <div class="progress">
                <div ng-class="setStyle(choice.votes.length/poll.totalVotes*100)" role="progressbar"
                     style="min-width: 2em; width: {{choice.votes.length/poll.totalVotes*100}}%;">
                    {{choice.votes.length}}
                </div>
            </div>
        </div>
        <div class="alert alert-success" role="alert">
            <p>
                总投票数：<strong>{{poll.totalVotes}}</strong>
            </p>
            <p>
                <span ng-show="poll.userChoice">
                    你的选择是：<strong>{{poll.userChoice.text}}</strong>
                </span>
            </p>
            <p>
                谢谢您的投票！
            </p>
        </div>
    </div>
</div>