<div class="page-header">
    <h1>投票列表</h1>
</div>
<div class="row">
    <div class="col-xs-5">
        <a ui-sref="new" class="btn btn-default"><span class="glyphicon
glyphicon-plus"></span>新投票</a>
    </div>
    <div class="col-xs-7">
        <input type="text" class="form-control" ng-model="query"
               placeholder="查询投票">
    </div>
</div>
<div class="row"><div class="col-xs-12">
    <hr></div></div>
<div class="row" ng-switch on="polls.length">
    <ul ng-switch-when="0">
        <li>
            <em>
                没有投票，是否<a ui-sref="new">创建新投票</a>？
            </em>
        </li>
    </ul>
    <ul ng-switch-default>
        <li ng-repeat="poll in polls | filter:query">
            <a ui-sref="poll({pollId: poll._id})">{{poll.question}}</a>
        </li>
    </ul>
</div>
<p>&nbsp;</p>